div.header {
    article.about {
        padding: 20px 0 20px 0;
    }
}

article.unsubscribe {
    padding: 20px 0 40px 0;

    div.left {
        width: 500px;

        h2 {
            font-family: 'Yanone Kaffeesatz', sans-serif;
            font-size: 26px;
            font-weight: 400;
            margin: 24px 0 12px 0;
        }

        p {
            color: #606060;
            margin: 0 0 16px 0;
        }
        button {
            border-radius: 4px;
            color: #fff;
            padding: 5px 10px;
            font-size: 12px;
            font-weight: normal;
            margin: 14px 8px 14px 0;
            @include sans();
            @include linear-gradient(top, $blue 0%, darken($blue, 10%) 90%);
        }
    }
}
