<!DOCTYPE html>
<html lang="en">
    <head>{% block head %}
        <meta charset="utf-8">
        <title>{% block title %}Analytic Tools for Steam Gamers{% endblock %} - Gauge Powered</title>
        <meta name="description" content="{% block description %}Discover how you're spending your time and money on Steam.{% endblock %}">
        <meta name="author" content="Lakin Wecker, Leonard Nooy, Structured Abstraction Inc.">

        <meta name="og:image" content="//static.gaugepowered.com/images/facebook-og-image.png">

        <meta name="viewport" content="width=1200">
        <link rel="shortcut icon" href="{{ request.config['gauge.static_base'] }}favicon.ico">
        <link href="{{ request.config['gauge.static_base'] }}{{ request.config['gauge.javascript_base'] }}gamestradamus/all.css?v={{ request.config['gauge.build_version'] }}" rel="stylesheet">

        <!--[if lt IE 9]>
            <script src="/js/html5shiv.js"></script>
        <![endif]-->

        {% block canonical %}{% endblock %}

    {% endblock %}</head>

    {% if request.user_account %}
        {% set user_attrs = request.user_attrs %}
    {% endif %}
    {% if not region %}
        {% set region = request.user_region %}
    {% endif %}
    <body class="{% block body_class %}{% endblock %} region-{{ region.value }}" id="{% block body_id %}{% endblock %}">

        <div class="navbar">
            <div class="navbar-inner">
                <a href="/">
                    <img class="logo" src="{{ request.config['gauge.static_base'] }}images/logo.png" alt="Gauge Powered">
                </a>
 
                <form 
                    id="search-form"
                    action="/search"
                    method="GET"
                    class="{% if request.user_account %}signed-in {% if not user_attrs.welcomed_since %}hidden{% endif %}{% endif %}"
                >
                    <input type="text" autocomplete="off" name="query" data-provide="typeahead" tabindex="1" placeholder="Find a game...">
                </form>

                {% if request.user_account %}
                    {% if not user_attrs.welcomed_since %}
                        <nav class="main signed-in">
                            <ul>
                                <li><a class="link" href="/auth/signout/">Sign out</a></li>
                            </ul>
                        </nav>
                    {% else %}
                        <nav class="main signed-in">
                            <ul>
                                {# <li class="left"><a class="link {% block giveaway_nav_class %}{% endblock %}" href="/profile/giveaway/">Giveaway</a></li> #}
                                <li class="left"><a class="link {% block browse_nav_class %}{% endblock %}" href="/profile/browse/">Browse</a></li>
                                <li class="left"><a class="link {% block sales_nav_class %}{% endblock %}" href="/profile/sales/">Sales</a></li>

                                <li><a class="link {% block library_nav_class %}{% endblock %}" href="/profile/games/">Library</a></li>
                                <li><a class="link {% block insights_nav_class %}{% endblock %}" href="/profile/insights/">Insights</a></li>
                                <li><a class="link {% block playlist_nav_class %}{% endblock %}" href="/profile/playlist/">Playlist</a></li>
                                <li><a class="link {% block watchlist_nav_class %}{% endblock %}" href="/profile/watchlist/">Watchlist</a></li>
                                <li class="account">
                                    <a class="link">
                                        {% if user_attrs.private_profile_since %}<img src="{{ request.config['gauge.static_base'] }}images/profile-alert.png" style="float: left;">{% endif %}
                                        <span class="name">{{ request.user_account.nickname }}</span><span class="medium">|</span>&nbsp;<span class="dark">▾</span>
                                    </a>
                                    <ul>
                                        {% if user_attrs.private_profile_since %}
                                            <li>
                                                <a class="private-profile" href="/faq/#why-am-i-seeing-a-private-profile-warning">Your Steam profile has become private. Click here to learn more.</a>
                                            </li>
                                            <li><hr></li>
                                        {% endif %}

{# disabled for now
                                        <li><a href="/payment/history/">Payments</a></li>
#}
                                        <li><a href="/profile/settings/">Profile Settings</a></li>
                                        <li><hr></li>
                                        <li><a href="{{ request.user_account.openid.replace('/openid/id/', '/profiles/') }}" target="_blank">Steam Profile</a></li>
                                        <li><a href="https://store.steampowered.com/account/" target="_blank">Steam Transactions</a></li>
                                        <li><hr></li>
                                        <li><a href="/faq/">FAQ / Help</a></li>
                                        <li><hr></li>
                                        <li><a href="/auth/signout/">Sign out</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    {% endif %}
                {% else %}
                    <nav class="main">
                        <ul>
                            <li><a class="sign-in" href="/auth/openid/begin/steam/?return={{ request.path_info|urlencode }}"></a></li>
                            {# <li><a class="link {% block giveaway_nav_class_2 %}{% endblock %}" href="/giveaway/">Weekly Giveaway</a></li> #}
                            <li><a class="link {% block browse_nav_class_2 %}{% endblock %}" href="/browse/">Browse Games</a></li>
                            <li><a class="link {% block sales_nav_class_2 %}{% endblock %}" href="/sales/">Games on Sale</a></li>
                        </ul>
                    </nav>
                {% endif %}
            </div>
        </div>

        <div class="header"><div class="inner">{% block header %}
        {% endblock %}</div></div>

        <div class="container"><div class="inner">{% block container %}
        {% endblock %}</div></div>

        <div class="footer">
            {% include "gamestradamus/footer.html" %}
        </div>

        {% block scripts %}
            {% include "gamestradamus/google-analytics.html" %}
            <script src="{{ request.config['gauge.static_base'] }}{{ request.config['gauge.javascript_base'] }}config.js?v={{ request.config['gauge.build_version'] }}"></script> 
            <script src="{{ request.config['gauge.static_base'] }}{{ request.config['gauge.javascript_base'] }}dojo/dojo.js?v={{ request.config['gauge.build_version'] }}"></script> 
            <script type="text/javascript">
                require(["gamestradamus/search"], function(init) { init(); });
            </script>
        {% endblock %}
    </body>
</html>


